#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img img{
    width: 50px;
}

.logo__text p {
    margin: 0;
    line-height: 0.8;
}

.logo__text>:first-child {
    font-size: 40px;
}

.logo__text>:first-child::first-letter {
    color: #E75A1F;
}

.logo__text>:last-child {
    font-size: 8px;
    text-transform: uppercase;
    position: relative;
    float: right;
    color: #E75A1F;
}

.menu__box {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.menu__box > li a {
    padding: 5px;
    text-decoration: none;
    color: #000;
}

.menu__box > li a:hover {
    color: #fff;
}

header {
    display: flex;
    background: #D3B714;
    justify-content: space-between;
    padding: 30px 20px;
    align-items: center;
}

.base {
    flex-grow: 1;
    padding: 13px;
}

.base__text {
    text-align: center;
    padding: 0px 15px;
    font-size: 18px;
} 

.base__text p {
    margin: 21px auto;
}

.base h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 23px auto;
    font-size: 29px;
}

main {
    display: flex;
    justify-content: center;
    flex-grow: 1; 
}

.list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.list > li {
    width: calc(100% / 3 - 14px );
    list-style: none;
    margin: 0px 5px;
    margin-bottom: 25px;
    display: flex;
}

aside {
    background: #C798B9;
    min-width: 210px;
    text-align: center;
    order: -1;
}

aside:last-child {
    background: #9CB1C7;
    order: 1;
}

/* Card content */
.card {
    min-height: 347px;
    min-width: 100%;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #A2A2A2;
    border-radius: 20px;
    padding: 10px;
    transition: transform .4s;
} 

.card:hover {
    background: #C798B9;
	color: #fff;
    border: 3px solid #D3B714;
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
}

img {
    max-width: 100%;
    height: 100%;
}

.card__img {
    width: 115px;
    height: 115px;
    border: 13px solid #C7B7B7;
    border-radius: 50%;
    overflow: hidden;
}

.card__content {
    flex-grow: 1;
}

.card__content h3 {
    margin: 20px auto;
}

.card__content p {
    line-height: 17px;
}

.card__btn {
    width: 58px;
    height: 27px;
    color: #fff;
    background: #685174;
    border-radius: 15px;
    padding: 5px 0;
}

.card__btn a {
    color: #fff;
    text-decoration: none;
    
}

footer {
    display: flex;
    background: #86EC86;
    justify-content: center;
    align-items: center;
    font-weight:bold;
}

/* Burger menu */
#menu__toggle {
    display: none;
  }


  


/* ------------ Media Queries ------------ */


/* Media styles Desktop first */

@media (max-width: 1200px) { 
    
    

 }

@media (max-width: 992px) { 

    aside:first-of-type {
        display: none;
    }

    .list li {
        width: calc(100% / 2 - 12px);
    }
    
 }


/* Media styles for tablets */
@media (max-width: 768px) { 
    
    aside:first-of-type {
        display: none;
    }

    .list li {
        width: 100%;
    }

 }

@media (max-width: 576px) {
    aside {
        display: none;;
    }

    .list li {
        width: 100%;
    }

    .base h1 {
        font-size: 24px;
    }

    .logo__text > :first-child {
        font-size: 25px;
    }

    .logo__img {
        width: 25px;
    }

    .logo__text>:last-child {
        font-size: 6px;
    }

    .menu__btn {
        display: flex; 
        align-items: center;  
        position: fixed;
        top: 50px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      
      .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      }
      
      
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        right: 0;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        transition-duration: .25s;
      }
      .menu__box {
        transition-duration: .25s;
      }
      .menu__item {
        transition-duration: .25s;
      }
    

   }