/* First level */
.test_cards {
    width: 600px;
    height: 550px;
    background: #0d5825;
}

.test_cards blockquote  {
    font-size: 25px;
    color: #fff;
    padding-top: 30px;
    text-align: center;
}

.cards {
    position: relative;
    padding-top: 140px;
}

.cards img {
    width: 150px;
}

.left_card {
    position:absolute;
    left: 168px;
    top: 121px;
    transition: .3s ease;
    -webkit-transform: rotate(-30deg); 
    -ms-transform: rotate(-30deg);  
    transform: rotate(-30deg);
}

.center_card {
    position:absolute;
    right: 230px;
    top: 125px;
    transition: .3s ease;
    -webkit-transform: rotate(-14deg); 
    -ms-transform: rotate(-14deg);  
    transform: rotate(-14deg);
}

.right_card {
    position:absolute;
    right: 174px;
    top: 140px;
    transition: .3s ease;
    -webkit-transform: rotate(5deg); 
    -ms-transform: rotate(5deg);  
    transform: rotate(5deg);
}

.left_card:hover {
    top: 105px;
}

.center_card:hover {
    top: 104px;
}

.right_card:hover {
    top: 120px;
}

/* Second level */
.test_layers {
    position: relative;
    margin: 40px 0;
    width: 300px;
    height: 250px;
}

.test_layers div {
    width: 100px;
    height: 100px;
    position: absolute;
}

.test_layers .red {
    background: #FF8888;
}

.test_layers .blue {
    background: #7E8AEB;
    z-index: 1;
    top: 60px;
    left: 57px;
}

.test_layers .green {
    background: #4DEF99;
    top: 120px;
    left: 120px;
}

/* Third level */
.test_animation {
    width: 300px;
    height: 300px;
    position: relative;
}

@keyframes moving {
    0%{
        background: red;
        left: 0;
        top: 0;
    }
    25%{
        background: blue;
        left: 0;
        top: calc(100% - 100px);
    }
    50%{
        background: green;
        left: calc(100% - 100px);
        top: calc(100% - 100px);
    }
    75%{
        background: yellow;
        left: calc(100% - 100px);
        top: 0;
    }
    100%{
        background: red;
        left: 0;
        top: 0;
    }
}

.square {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    animation: moving 4.0s infinite;
}